.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 87.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* text-elements {
  overflow-wrap:break-word;
  
  Used for automatically starting new lines.

} */

#annoying {
  top: 30vh;
  left: 20vw;
  position: fixed;
  background-color: #ffffff00;
}

.globalFooter {
  margin-top: 10vh;
  background-color: blue;
}