.App {
  text-align: center;
}

.App .Navigation-Bar ul img{
  display: flex;
  height: 6vh;
  justify-content: flex-start;
}

.App .Navigation-Bar ul li a{
  color: red;
  text-decoration: none;
}

.App .Navigation-Bar ul li:hover{
  background-color: #8a898931;
  transition: 1s;
}

.App .Navigation-Bar ul li{
  list-style: none;
  padding: 2vh 4vh;
  white-space: 10;
}

.App .Navigation-Bar ul{
  display: flex;
  justify-content: flex-end;
}

.App-header {
  background-color: #000000;
  min-height: 87.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}