.signupFormDiv {
    color: #ffffff;
}

.signupFormContent {
    background-color:#36393f;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    place-items: flex-start;
}

.signupFormContent input {
    background-color: rgba(136, 136, 136, 0.596);
    border-radius: 5px;
    padding: 8px;
    margin: 30px 0px;
    width: 80%;
    color: white;
}

.signupFormContent input:focus {
    outline: none;
    border-color: rgba(43, 125, 218, 0.692);
    border-width: 3px;
    transition: 0.5s;
}

#formInput {
    width: auto;
    position: relative;
}

.signupFormContent input::placeholder {
    color: rgb(194, 194, 194);
}

.signupFormContent span {
    padding: 30px;
    font: 24px Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: auto;
}

.signupFormContent label{
    display: block;
    position: absolute;
    left: 0;
    margin: 0px 30px;
}

.signupFormContent a {
    color: white;
    text-decoration: none;
}

.signupFormContent a:hover {
    color: white;
    text-decoration: underline;
}

.signupFormContent .continueBtn {
    width: 85%;
    padding: 8px;
    color: white;
    background-color:#7289da;
    border: none;
    border-radius: 5px;
}

.signupFormContent .formTos {
    padding: 5px 20px;
}

@media(max-width: 700px) {
    .signupFormDiv {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

    .signupFormContent {
        background-color:#36393f;
        display: flex;
        flex-direction: column;
        width: 450px;
        height: 800px;
        margin: auto;
        border-radius: 0px;
        place-items: flex-start;
    }

    .signupFormContent input {
        background-color: rgba(136, 136, 136, 0.596);
        border-radius: 5px;
        padding: 20px;
        margin: 45px 0px;
        width: 80%;
    }

    .signupFormContent .continueBtn {
        width: 85%;
        padding: 10px 35px;
        color: white;
        background-color:#7289da;
        border: none;
        border-radius: 5px;
        font-size: 30px;
    }

    .signupFormContent .formTos {
        padding: 5px 20px;
        font-size: 20px;
    }

    .signupFormContent a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}